<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{meta_title}}</title>
	<meta name="description" content="">
	<meta name="keywords"    content="">
	<meta name="author"      content="">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<link href="{{static-root}}/img/favicon.ico" type="image/x-icon" rel="shortcut icon" >
	<link href="{{static-root}}/img/favicon.png" type="image/png"    rel="icon" >
	<link href="{{static-root}}/img/favicon.png" type="image/png"    rel="apple-touch-icon">
	<link rel="stylesheet" type="text/css" href="{{static-root}}/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{static-root}}/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{static-root}}/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="{{static-root}}/css/index.css">
</head>
<body>
	<div class="wrapper">
		{{>header}}
		{{{body}}}
		{{>footer}}
		{{>popups}}
		<a class="scroll-top"><i class="fa fa-angle-double-up"></i></a>
	</div>
	<script type="text/javascript" src="{{static-root}}/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="{{static-root}}/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="{{static-root}}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{static-root}}/js/functions.js"></script>
</body>
</html>
