<div class="main">

	<div class="pageHeaderInner">
		<h1>{{meta_title}}</h1>
	</div>
	<div class="admin-page">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Книга</th>
                <th>Автор</th>
                <th style="padding:0 10px">год</th>
                <th>добавлена</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
        {{#each book}}
            <tr>
                <td><a target="_blank" href="/book/{{this.url}}" class="title">{{this.title}}</a></td>
                <td style="font-size:15px">
                    {{#each authors}}
                        {{this.name}}{{#unless @last}},{{/unless}}
                    {{/each}}
                </td>
                <td style="padding:0 10px; font-size:15px">{{this.year}}</td>
                <td style="font-size:14px; text-wrap:avoid; color:#666">{{formatDateAndTime this.date}}</td>
                <td>
                    <a href="bookedit/{{_id}}"><i style="font-size:20px" class="ion-compose"></i></a>
                </td>
            </tr>
        {{/each}}
            </tbody>
        </table>
        <div style="text-align: center">
            <div class="pagination">
                <ul class="pagination pagination-centered">
                    {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-left"></i></a></li>
                    {{/paginate}}
                    {{#paginate pagination type="previous"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-thin-left"></i></a></li>
                    {{/paginate}}
                    {{#paginate pagination type="middle" limit="20"}}
                        <li {{#if active}}class="active"{{/if}}><a href="?page={{n}}" class="pageNums"  style="padding: 14px 17px;">{{n}}</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="next"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-thin-right"></i></a></li>
                    {{/paginate}}
                    {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-right"></i></a></li>
                    {{/paginate}}
                </ul>
            </div>
        </div>

	</div>

</div>