<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-book-outline"></i>
		<h1>{{meta_title}}</h1>
		<div id="settings">
            <a href="" class="ion-ios-settings active"></a>
            <a href="" class="ion-ios-settings"></a>
            <a href="" class="ion-ios-settings"></a>
            <a href="" class="ion-ios-rainy"></a>
            <a href="" class="ion-ios-settings"></a>
		</div>
	</div>
	<div class="book-list">
		{{#each book}}
		<div class="book">
			<div class="cover">
				<!--<div class="overlay"></div>-->
                <a href="/book/{{url}}"><img src="/covers/{{cover}}" title="{{title}}"></a>
			</div>
			<a href="/book/{{url}}" class="title">{{title}}</a>
			<div class="author">
				{{#each authors}}
					{{this.name}}{{#unless @last}},{{/unless}}
				{{/each}}
			</div>
			<div class="stars">
				{{#each ratings}}
					{{#if @first}}
					<div class="ratingBox">
						{{#each this}}
							<meta {{@key}}="{{this}}">
						{{/each}}
					</div>
					{{/if}}
				{{else}}
					<div class="ratingBoxEmpty">
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
					</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
    <div style="text-align: center">
        <div class="pagination">
            <ul class="pagination pagination-centered">
                {{#paginate pagination type="first"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-left"></i></a></li>
                {{/paginate}}
                {{#paginate pagination type="previous"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-thin-left"></i></a></li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="20"}}
                    <li {{#if active}}class="active"{{/if}}><a href="?page={{n}}" class="pageNums"  style="padding: 14px 17px;">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-thin-right"></i></a></li>
                {{/paginate}}
                {{#paginate pagination type="last"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-right"></i></a></li>
                {{/paginate}}
            </ul>
        </div>
    </div>


</div>