<div class="main">

	<div class="pageHeaderBook">
		<h1>{{meta_title}}</h1>
	</div>


	<div class="bookPage">
		<div class="cover">
			<img src="{{main-root}}covers/{{book.cover}}" title="{{book.title}}">
		</div>

		<div class="info">
			<div class="author">
				<i class="ion-ios-person"></i>
				<span>
					{{#each book.authors}}
						<a href="{{main-root}}author/{{@key}}">{{this}}</a>{{#unless @last}},{{/unless}}
					{{/each}}
				</span>
			</div>
			{{#if book.year}}
			<div class="year">
				Книга написана в {{book.year}} г.
			</div>
			{{else}}
				<div class="year">
					Книга добавлена в {{formatDate book.date}} г.
				</div>
			{{/if}}
			<div class="ganres">
				<i class="ion-ios-medical"></i>
				<span>
					{{#each book.ganres}}
						<a href="{{main-root}}ganre/{{@key}}">{{this}}</a>{{#unless @last}},{{/unless}}
					{{else}}
						<a href="{{main-root}}ganres/">Все жанры</a>
					{{/each}}
				</span>
			</div>
			<div class="tags">
				<i class="ion-ios-color-filter-outline"></i>
				<span>
					{{#each book.tags}}
						<a href="{{main-root}}tag/{{@key}}">{{this}}</a>{{#unless @last}},{{/unless}}
					{{else}}
						<a href="{{main-root}}tags/">Все тэги</a>
					{{/each}}
				</span>
			</div>
			<div class="stars">
				{{#each book.ratings}}
				<div class="ratingBox">
					{{#each this}}
						<meta {{@key}}="{{this}}">
					{{/each}}
				</div>

				{{else}}
				<div class="ratingBoxEmpty">
					<i class="ion-android-star-outline"></i>
					<i class="ion-android-star-outline"></i>
					<i class="ion-android-star-outline"></i>
					<i class="ion-android-star-outline"></i>
					<i class="ion-android-star-outline"></i>
				</div>
				{{/each}}
			</div>
			{{#if book.litresid}}
				<div class="litres">
					<a href="http://www.litres.ru/pages/biblio_basket/?art={{book.litresid}}&action=add_art_to_basket&lfrom={{litres_ref_id}}">Купить и скачать электронную книгу</a>
					<br>
					<a class="read" target="_blank" href="http://www.litres.ru/pages/quickread/?art={{book.litresid}}&action=add_art_to_basket&lfrom={{litres_ref_id}}"><i class="ion-ios-bookmarks-outline"></i>Читать онлайн</a>
				</div>
			{{/if}}

		</div>
		<div class="description">
			{{book.description}}
		</div>
	</div>



</div>