<div class="main home">

	<div class="pageHeader">
		<h1 id="bukker" style="display: none">Буккер
            <span class="bracket">{</span>
            <span>
                <span class="sub visible">Рейтинги книг <b class="ion-ios-star-outline star"></b></span>
                <span class="sub ">Новинки и Классика <b class="ion-ios-book-outline new"></b></span>
                <span class="sub ">Популярные книги и серии <b class="ion-ribbon-b pop"></b></span>
                <span class="sub ">Книжные новости <b class="ion-ios-paper-outline"></b></span>
            </span>
            <span class="bracket2">}</span>
        </h1>
        <div class="search">
            <form action="/search" method="post">
                <div class="right-inner-icon">
                    <i class="ion-ios-search"></i>
                    <input type="search" name="searching"  placeholder="Найти книгу..." />
                </div>
            </form>
        </div>
	</div>

    <!-- News -->
    <div class="home-news">
        <h2><span>Читайте на Буккере</span></h2>
        <div class="news-list" >
            {{#each news}}
                <div class="news">
                    <a href="/news/{{url}}" class="cover" style="background-image: url('/news/{{image}}')"></a>
                    <a href="/news/{{url}}" class="title">{{title}}</a>
                    <div class="short">{{shortNews content}}</div>

              </div>
            {{/each}}
        </div>
    </div>


    <h2><span>Новые книги</span></h2>
	<div class="book-list">
		{{#each book}}
		<div class="book">
            <div class="cover">
                <!--<div class="overlay"></div>-->
                <a href="/book/{{url}}"><img src="covers/{{cover}}" alt="{{title}}"></a>
            </div>
			<a href="/book/{{url}}" class="title">{{title}}</a>
			<div class="author">
				{{#each authors}}
					{{this.name}}{{#unless @last}},{{/unless}}
				{{/each}}
			</div>
			<div class="stars">
				{{#each ratings}}
					{{#if @first}}
					<div class="ratingBox">
						{{#each this}}
                            <meta name="{{@key}}" content="{{this}}">
						{{/each}}
					</div>
					{{/if}}
				{{else}}
					<div class="ratingBoxEmpty">
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
						<i class="ion-android-star-outline"></i>
					</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>

</div>