<div class="main">

	<div class="pageHeader">
		<h1>Главная</h1>
		<div class="sorting">

		</div>
	</div>
	<div class="book-list">
		{{#each book}}
		<div class="book">
			<div class="cover">
				<div class="overlay"></div>
				<img src="covers/{{cover}}" title="{{title}}">
			</div>
			<a href="/book/{{url}}" class="title">{{title}}</a>
			<div class="author">
				{{#each authors}}
					{{this}}{{#unless @last}},{{/unless}}
				{{/each}}
			</div>
			<div class="stars">
				<i class="ion-android-star"></i>
				<i class="ion-android-star"></i>
				<i class="ion-android-star"></i>
				<i class="ion-android-star-half"></i>
				<i class="ion-android-star-outline"></i>
			</div>
		</div>
		{{/each}}
	</div>

</div>