<div class="main">

	<div class="pageHeaderInner">
        <i class="ion-ios-paper-outline"></i>
		<h1>{{news.title}}</h1>
	</div>

	<div class="newsPage">
        <div class="cover">
            <img src="/news/{{news.image}}" alt="{{news.title}}">
        </div>
        <div class="content">
            {{{news.content}}}
        </div>
        <div class="date">
           <i class="ion-ios-calendar-outline"></i> {{formatNewsDate news.date}}
        </div>
        <div class="tags">
            {{#each news.tags}}
                <span>{{this.title}}</span>
            {{/each}}
        </div>
        <div class="comments">
            <div id="disqus_thread"></div>
        </div>

        <script>
            var disqus_config = function () {
                this.page.url = {{news.url}};
                this.page.identifier = {{news.url}};
            };
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//bukkeru.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>

</div>

<script id="dsq-count-scr" src="//bukkeru.disqus.com/count.js" async></script>