<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-paper-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="news-list">
        {{#each news}}
            <div class="news">
                <div class="cover">
                    <!--<div class="overlay"></div>-->
                    <a href="/news/{{url}}"><img src="/news/{{image}}" title="{{title}}"></a>
                </div>
                <a href="/news/{{url}}" class="title">{{title}}</a>
                <div>
                    {{content}}
                </div>
                <div>
                    {{#each tags}}
                        <a href="{{main-root}}news/tag/{{this.url}}">{{this.title}}</a>{{#unless @last}},{{/unless}}
                    {{/each}}
                </div>
            </div>
        {{/each}}
	</div>

</div>