<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-paper-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="news-list">
        {{#each news}}
                <div class="news">
                    <a href="/news/{{url}}" class="cover" style="background-image: url('/news/{{image}}')"></a>
                    <a href="/news/{{url}}" class="title">{{title}}</a>
                    <div class="short">{{shortNews content}}... <a href="/news/{{url}}" class="more">читать полностью <i class="ion-ios-arrow-right"></i></a></div>
                </div>
        {{/each}}
	</div>

</div>