<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-paper-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="news-list">
        {{#each news}}
            {{#if @first}}
                <div class="news">
                    <a href="/news/{{url}}" class="cover" style="background-image: url('/news/{{image}}')"></a>
                    <a href="/news/{{url}}" class="title">{{title}}</a>
                </div>
            {{else}}
                <div class="news">
                    <a href="/news/{{url}}" class="cover" style="background-image: url('/news/{{image}}')"></a>
                    <a href="/news/{{url}}" class="title">{{title}}</a>
                </div>
            {{/if}}
        {{/each}}
	</div>

</div>