<div class="main">

	<div class="pageHeader">
        <i class="ion-ios-paper-outline"></i>
		<h1>{{meta_title}}</h1>
	</div>

	<div class="news-list">
        {{#each news}}
                <div class="news">
                    <a href="/news/{{url}}" class="cover" style="background-image: url('/news/{{image}}')"></a>
                    <a href="/news/{{url}}" class="title">{{title}}</a>
                    <div class="short">{{shortNews content}}... <a href="/news/{{url}}" class="more">читать полностью <i class="ion-ios-arrow-right"></i></a></div>
                </div>
        {{/each}}
	</div>
    <div style="text-align: center">
        <div class="pagination">
            <ul class="pagination pagination-centered">
                {{#paginate pagination type="first"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-left"></i></a></li>
                {{/paginate}}
                {{#paginate pagination type="previous"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-thin-left"></i></a></li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="10"}}
                    <li {{#if active}}class="active"{{/if}}><a href="?page={{n}}" class="pageNums"  style="padding: 14px 17px;">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-thin-right"></i></a></li>
                {{/paginate}}
                {{#paginate pagination type="last"}}
                    <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}"><i class="ion-ios-arrow-right"></i></a></li>
                {{/paginate}}
            </ul>
        </div>
    </div>
</div>
<div class="partners">
    <span>Электронная библиотека «Буккер» благодарит за поддержку:</span>
    <a href="http://skyortho.com.ua/" target="_blank">Клиника ортодонтии</a> и ортодонтия.
</div>